.navbar-brand { 
    font-size: 1.5rem; 
}
.movie-card img { 
    height: 400px; 
    object-fit: cover;
 }

 .btn{
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
 }
 .btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(255, 193, 7, 0.4);
    filter: brightness(1.1);
 }
.btn:active {
        transform: scale(0.92);
}
.movie-card {
        transition: transform 0.4s ease;
        box-shadow: 0.4s ease;
}

.movie-card:hover {
        transform: scale(1.03);
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.7);
}
